body
  background-color: #FFF

#main
  background-image: url('/assets/img/logo-w.svg')
  background-repeat: no-repeat
  background-position: center
  position:fixed
  top: 50%
  left: 50%
  width:30em
  height:30em
  margin-top: -15em
  margin-left: -15em
  background-size: 300px 300px
